.formationWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid darkslategrey;
  background-color: darkolivegreen;
  border-radius: 32px;
  padding: 15px;
  margin: 12px;
}
