.projectsContainer {
  grid-area: Project;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  overflow: auto;
  padding: 28px;
}

.projectCard {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 22px;
  margin: 12px 0;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: #13281b;
}

.projectCard:hover {
  transform: scale(1.02);
}

.projectCardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}

.projectCardDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.techBadgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.techBadge {
  display: inline-block;
  padding: 4px 8px;
  background-color: #29634b;
  color: white;
  border-radius: 6px;
  font-size: 0.875rem;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.projectCard {
  padding: 18px;
}