.projectsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid darkslategrey;
  background-color: darkolivegreen;
  border-radius: 32px;
  gap: 24px;
}

.projectCard {
  border: 1px solid #ddd;
  margin: 12px;
}
