.profileWrapper {
  grid-area: Profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 32px;
  padding: 28px;
}

.profileInfo h2 {
  margin-bottom: 15px;
}

.profileInfo,
.profileContact {
  text-align: center;
}

.phoneWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
