.profileWrapper {
  grid-area: Profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 32px;
  padding: 28px;
}

.profileInfo,
.profileContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profileContact a {
  text-decoration: none;
  color: inherit;
}

.profileContact p {
  margin: 0;
}

.phoneWrapper,
.emailWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.emailWrapper svg {
  width: 18px;
  height: 18px;
}
