.skillsWrapper {
  grid-area: Competence;
  border-radius: 32px;
  padding: 28px;
}

.skillIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
}

.skillIcons > * {
  width: 32px;
  height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
