.socialLinksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.socialBtn {
  display: flex;
  flex: 0 0 calc(50% - 12px);
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  /* padding: 15px;
  margin: 12px; */
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.socialBtn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.githubBtn,
.linkedinBtn,
.dribbbleBtn {
  background-color: darkcyan;
}

.blueskyBtn {
  background-color: aquamarine;
}

.socialBtn svg {
  width: 34px;
  height: 34px;
}
