.bentoContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.upperContainer {
  display: flex;
}

.lowerContainer {
  display: flex;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.skillsLowerContainer {
  display: flex;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  width: 10%;
}
