.bentoContainer {
  display: flex;
  flex-direction: column;
}

.upperContainer {
  display: flex;
}

.lowerContainer {
  display: flex;
}

.skillsWrapper {
  display: flex;
  flex-direction: column;
}

.skillsLowerSection {
  display: flex;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
}
