.bentoContainer {
  display: flex;
  flex-direction: column;
}

.upperContainer {
  display: flex;
}

.lowerContainer {
  display: flex;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
}

.skillsLowerContainer {
  display: flex;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
}
